<div class="wrapper">
    <div class="page-header" style="background-image: url('./assets/img/login-image.jpg');">
        <div class="filter"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                      <div style="background-color:#30557f" class="card card-register">
                        <h3 style="color: white;"class="title">Đăng ký</h3>
                          <form class="register-form">
                              <label>Email</label>
                              <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-email-85"></i>
                                  </span>
                                </div>

                                  <input type="text" [(ngModel)]="email" name="email" class="form-control" placeholder="Email" (focus)="focus=true" (blur)="focus=false" >
                              </div>

                              <label>Password</label>
                              <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-key-25"></i>
                                  </span>
                                </div>
                                  <input type="text" [(ngModel)]="password" name="password" class="form-control" placeholder="Password" (focus)="focus1=true" (blur)="focus1=false" >
                              </div>
                              <button [disabled]="!enableBtn" class="btn btn-danger btn-block btn-round" (click)="register()">Đăng ký</button>
                              <button (click)="gotoLogin()" class="btn btn-primary btn-block btn-round">Quay lại</button>
                          </form>
                         
                      </div>
                    </div>
                </div>
            </div>
    </div>
</div>
