.main-text{
  font-weight: bold;
  padding-top: 7%;
  padding-left: 29%;
  position: absolute; 
  color: #18191a; 
  font-size: 160%; 
  font-weight: bold;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  width: 95%;
  padding-right: 13%;
  padding-bottom: 7%;
  cursor: pointer;
}

.sub-text {
  position: absolute;
  padding-left: 30%;
  padding-top: 14.5%;
  color: white;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  width: 100%;
  padding-right: 30%;
  font-size: 120%;
}

.input-name {
  border: 0px;
  background-color: transparent;
  color:white;
  text-align: center;
  font-size: 160%;
  margin: 0px;
}

.input-job {
  border: 0px;
  background-color: transparent;
  text-align: center;
  font-size: 130%;
  margin: 0px;
  color: #9A9A9A;
  font-weight: 600;
}

.img-change-avatar {
  cursor: pointer;
  width: 25px;
  position: absolute; 
  margin-top: 120px;
  margin-left: 115px;
}

.img-change-background {    
  cursor: pointer;
  width: 50px;
  position: absolute;
  margin-top: 34vh;
  margin-left: 34vh;
}

.bg-img {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.background {
    width:100%; 
    max-width:1000px;
    padding:5px;
    padding-right: 20px;
    padding-left: 10px;
}

.button-dark {
  color:wheat;
  border-color: wheat;
}

.filepicker{
  -webkit-appearance: none;
  position:absolute;
  top:1px;
  right:1px;
  width: 40px;
  height: 40px;
  text-indent: 100em;
  background-size: cover;
  overflow: hidden;
  cursor: pointer;
  outline: none;
}

.img-change-icon {
cursor: pointer;
width: 20%;
position: absolute;
margin-top: 2.7%;
margin-left: 3.6%;
max-width: 100%;
}

.example-container {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.example-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}